@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.titulo{
   width: 100%;
   text-align: center;
   font-family: 'Creepster', cursive;
   font-size: 8em;
   text-shadow: 4px 8px 8px #000000;
   color: #08BAE3;
   z-index: 50;
   -webkit-text-stroke: 3px rgba(0, 0, 0, 0.884);
   padding-bottom: 20px;
}