@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
/*'Creepster', cursive;  font-family: 'Oswald', sans-serif;*/ 
.search{
    height: 100px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    

    
}
.search button {
    border-radius: 8px;
    padding: 5px;
    padding-top: 2.5px;
    margin: 6px;
    cursor: pointer;
    background-color: silver;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
    width: 80px;
    height: 40px;   
    
}
.search button:hover{
    border: 2px;
}
.search input{
    font-family:'Oswald', sans-serif;
    width: auto;
    height: 30px;
    font-size: 20px;
    padding: 10px;
    
}
