@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


.titulo{
   width: 100%;
   text-align: center;
   font-family: 'Creepster', cursive;
   font-size: 8em;
   color: #08BAE3;
   z-index: 50;
   -webkit-text-stroke: 3px rgba(0, 0, 0, 0.884);
   padding-bottom: 20px;
}


.App {
   text-align: center;
   padding: 20px 30px;
   background-image: url('./Images/background.jpg');
   background-size: cover;
   height: 1080px;
   padding-top: 5px;
   padding-left: 15px;
   padding-right: 15px;
   
}
.pickle{
   text-align: right;

}
.pickle button{
   font-family: 'Creepster', cursive;
   padding: 5px 10px;
   background-color: green;
   font-size: 22px;
   border: 4px solid greenyellow;
   box-shadow: 10px 10px 15px rgba(1, 1, 1, 1);
   cursor: pointer;
   width: 200px;
}
.pickle button:hover{
   transition: all .5s ease-in-out;
   filter: brightness(1.7);
}

